* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  border: 2px solid green;
  width: 100%;
  height: 55px;
}

.logo,
nav {
  display: inline-block;
  border: 5px solid red;
  width: 50%;
  height: 55px;
}

.main-navlist {
  display: inline-block;
  border: 2px dashed yellow;
}

.nav-list {
  display: inline-block;
  align-items: flex-end;
}
