* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #242424;
  overflow-y: hidden;
}

header {
  display: flex;
  /* border: 2px solid green; */
  width: 100%;
  height: 55px;
}

.logo,
nav {
  display: inline-block;
  /* border: 5px solid red; */
  width: 50%;
  height: 55px;
}

.main-navlist {
  display: flex;
  /* border: 2px dashed yellow; */
  justify-content: right;
  padding-top: 25px;
  padding-right: 20px;
  gap: 63.04px;
}

.nav-list {
  display: inline-block;
  list-style: none;
  align-self: center;
}

.linkWhite,
a:link {
  text-decoration: none;
  color: white;
  /* padding: 15px; */
  font-family: 'Manrope';
}

.navBtn {
  /* font-family: ; */
  height: 40px;
  border-radius: 10px;
  color: #000000;
}

/* main container border */
main {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.secOne {
  /* border: 4px dashed coral; */
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  justify-content: center;
}

.introDesc {
  color: #e0e0e0;
}

.inputPBox {
  /* width: 741px;
  height: 419.9px; */
  /* border: 4px solid indianred; */

  margin-bottom: 120px;
}

.title {
  /* border: 4px solid darkorchid; */
  color: #e0e0e0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 104px;
  line-height: 110%;
  margin-bottom: 120px;
}

.userInputBox {
  /* border: 4px solid silver; */
  width: 676px;
  height: 94.9px;
  background: #ffffff;
  box-shadow: 0px 5.2px 5.2px rgba(0, 0, 0, 0.05);
  border-radius: 10.4px;
  padding: 8px 10.4px 10.4px 31.2px;
}

.inputBox {
  width: 312px;
  height: 28px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 23.4px;
  line-height: 28px;

  color: rgba(0, 0, 0, 0.6);
}

.inptBtn {
  width: 276.2px;
  height: 69.6px;
  color: #e0e0e0;
  background: #000000;
  border-radius: 10.4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 23.4px;
  line-height: 28px;
}

.introDesc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 31.2px;
  line-height: 160%;
  color: #e0e0e0;
  /* padding */
}

#imgHolder {
  /* background-image: url(img/BearTransparent.png); */
  /* border: 5px solid teal; */
}

/* Overlay */

.hidden {
  display: none;
}

.modal {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  /* width: 35%; */
  /* height: 65%; */
  background-color: white;
  padding: 6rem;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 45px;
  font-size: 2rem;
}
