@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #242424;
}

header {
  display: flex;
  border: 2px solid green;
  width: 100%;
  height: 55px;
}

.logo,
nav {
  display: inline-block;
  border: 5px solid red;
  width: 50%;
  height: 55px;
}

.main-navlist {
  display: flex;
  border: 2px dashed yellow;
  justify-content: right;
}

.nav-list {
  display: inline-block;
  list-style: none;
  align-self: center;
}

.linkWhite,
a:link {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.navBtn {
  /* font-family: ; */
  height: 40px;
  border-radius: 10px;
  color: #000000;
}

/* main container border */
main {
  border: 2px solid blue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.secOne {
  border: 4px dashed coral;
  display: flex;
  flex-direction: column;
}

.introDesc {
  color: #e0e0e0;
}

.title {
  border: 4px solid darkorchid;
  color: #e0e0e0;
}

.inptBtn {
  width: 276.2px;
  height: 69.6px;

  background: #000000;
  border-radius: 10.4px;
}

#imgHolder {
  /* background-image: url(img/BearTransparent.png); */
  border: 5px solid teal;
}
